<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="errorAppender" type="log4net.Appender.RollingFileAppender">
	<filter type="log4net.Filter.LevelMatchFilter">
	  <levelToMatch value="ERROR" />
	</filter>
	<filter type="log4net.Filter.DenyAllFilter" />
	<File value="Logs\error.log" />
	<!--<PreserveLogFileNameExtension value="true" />-->
	<datePattern value="yyyyMMdd"/>
	<rollingStyle value="Composite"/>
	<encoding value="utf-8"/>
	<staticLogFileName value="false"/>
	<maxSizeRollBackups value="-1"/>
	<maximumFileSize value="100MB"/>
	<appendToFile value="true"/>
	<layout type="log4net.Layout.PatternLayout">
	  <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
	</layout>
  </appender>
  <appender name="infoAppender" type="log4net.Appender.RollingFileAppender">
	<filter type="log4net.Filter.LevelMatchFilter">
	  <levelToMatch value="INFO" />
	</filter>
	<filter type="log4net.Filter.DenyAllFilter" />
	<File value="Logs\info.log" />
	<datePattern value="yyyyMMdd"/>
	<rollingStyle value="Composite"/>
	<encoding value="utf-8"/>
	<staticLogFileName value="false"/>
	<maxSizeRollBackups value="-1"/>
	<maximumFileSize value="100MB"/>
	<appendToFile value="true"/>
	<layout type="log4net.Layout.PatternLayout">
	  <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
	</layout>
  </appender>
  <appender name="debugAppender" type="log4net.Appender.RollingFileAppender">
	<filter type="log4net.Filter.LevelMatchFilter">
	  <levelToMatch value="DEBUG" />
	</filter>
	<filter type="log4net.Filter.DenyAllFilter" />
	<File value="Logs\debug.log" />
	<datePattern value="yyyyMMdd"/>
	<rollingStyle value="Composite"/>
	<encoding value="utf-8"/>
	<staticLogFileName value="false"/>
	<maxSizeRollBackups value="-1"/>
	<maximumFileSize value="100MB"/>
	<appendToFile value="true"/>
	<layout type="log4net.Layout.PatternLayout">
	  <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
	</layout>
  </appender>
  <appender name="perfAppender" type="log4net.Appender.RollingFileAppender">
	<filter type="log4net.Filter.LevelMatchFilter">
	  <levelToMatch value="INFO" />
	</filter>
	<filter type="log4net.Filter.DenyAllFilter" />
	<File value="Logs\perf.log" />
	<datePattern value="yyyyMMdd"/>
	<rollingStyle value="Composite"/>
	<encoding value="utf-8"/>
	<staticLogFileName value="false"/>
	<maxSizeRollBackups value="-1"/>
	<maximumFileSize value="100MB"/>
	<appendToFile value="true"/>
	<layout type="log4net.Layout.PatternLayout">
	  <conversionPattern value="%date %logger - %message%newline" />
	</layout>
  </appender>
  <root>
  </root>
  <logger name="LOG">
	<appender-ref ref="errorAppender" />
	<appender-ref ref="infoAppender" />
	<appender-ref ref="debugAppender" />
  </logger>
</log4net>
